BasedOnStyle: LLVM

AlignAfterOpenBracket: Align
#AlignConsecutiveAssignments: Consecutive
#AlignConsecutiveBitFields: Consecutive
AlignEscapedNewlines: Right
#AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: All
BinPackArguments: false
BinPackParameters: false
#BreakBeforeConceptDeclarations: true
BreakInheritanceList: BeforeColon
#EmptyLineAfterAccessModifier: Never
#EmptyLineBeforeAccessModifier: Always
IndentWrappedFunctionNames: false
#InsertTrailingCommas: Wrapped
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
#PackConstructorInitializers: NextLine
#PenaltyIndentedWhitespace: 2

Language: Cpp
Standard: c++20
#SpacesInAngles: Leave

AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left


# Disable formatting options which may break tests.
#SortIncludes: Never
ReflowComments: false

# libc++'s preferred indentions of preprocessor statements.
IndentPPDirectives: AfterHash

# libc++ has some long names so we need more than the 80 column limit imposed by LLVM style, for sensible formatting
ColumnLimit: 120
